@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-wrap-balance {
    text-wrap: balance;
  }
}

@layer components {
  /* .btn {
    @apply rounded-md bg-[#12b488] px-3 py-2 text-sm text-white;
  } */

  .btn:hover {
    background-color: #3182ce;
    transform: scale(1.05);
  }

  .btn-red {
    @apply rounded-lg bg-[#C22025] px-2 py-2 font-nunito text-white hover:bg-red-700  sm:px-4;
  }

  .btn-blue {
    @apply rounded-lg bg-[#0052a5] px-4 py-2 font-nunito text-white hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-[#0052a5] focus:ring-opacity-50;
  }
}
