@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
}

.icon {
  margin-right: 0 !important;
  width: auto !important;
  height: auto !important;
  float: none !important;
}
